<footer>
	<div class="container">
		<div class="footer_wrapper footer_icons">
			<p>CT</p>
			
			<a href="https://www.instagram.com/codytuckermusic/" target="blank?"><i class="fab fa-instagram fa-5x"></i></a>&nbsp;
		

			<a href="https://www.facebook.com/cody.tucker.1029" target="blank?">
				<i class="fab fa-facebook fa-5x"></i>
			</a>&nbsp;

			<a href="https://www.youtube.com/channel/UCKlZ0CbLUDZmC9QEt4KIAgw" target="blank?">
				<i class="fab fa-youtube fa-5x"></i>
			</a>&nbsp;
			<br>
			
			<p class="footer_email">
				email: <a href="mailto:codytckr0@gmail.com">codytckr0@gmail.com</a>
			</p>
			<p>© 2021 Cody Tucker</p>
		</div>
	</div>
</footer>