<footer>
	<div class="container">
		<div class="footer_wrapper footer_icons">
			<p>Cody Tucker</p>
			
			<a href="#" target="blank?"><i class="fab fa-instagram fa-5x"></i></a>&nbsp;
		

			<a href="#" target="blank?">
				<i class="fab fa-facebook fa-5x"></i>
			</a>&nbsp;

			<a href="#" target="blank?">
				<i class="fab fa-spotify fa-5x"></i>
			</a>&nbsp;
			<br>
			
			<p class="footer_email">
				email: <a href="mailto:example@gmail.com">Example@gmail.com</a>
			</p>
			<p>© 2021 Cody Tucker</p>
		</div>
	</div>
</footer>