---
title: CT | About
---

<div class="container container_wrapper">
	<div class='row'>
		<section class='column'>
			<div class='image_col'>
				<%= image_tag 'guitar.JPG' %>
			</div>
		</section>

		<aside class='column'>
			<div class='text-column'>
				<h1>About</h1>
				<blockquote>
					<p>
						Cody Tucker 
					</p> 
					<p><%= lorem.sentences 5 %></p>
				
					<P>
						His music skillfully blends a wide variety of musical genres, alternating hypnotic and groovy tracks, in order to best express the wide range of emotions he wishes to convey through his music.
					</P>
										
				</blockquote>

			</div>
		</aside>
	</div>
</div>

