---
title: Cody | Home
---
<!--Responsive Hero Image with CSS Text + Button + popup Full-Width. If you like my work, please credit author: www.action360.ca @action360ca Enjoy!-->
<div class="hero-image">
  <div class="hero_text">
    <h1>Hey there, I'm Cody.</h1>
    <p>Musician</p>
  </div>
</div>

<!-- <div class="heroImage">
<div class="heroContents">
<h1>Le Cafe 2020</h1>
<p>Premier restaurant serving fine French cuisine and wines in Brooklyn, NY.</p>
<a href="/book.html"><button class="bookButton">Book a Table</button></a>
</div>
</div>
-->

<div class="container">

  <div class="info container_wrapper">
    <h1 class="main_name">Cody Tucker</h1>
    <p>
      <%= lorem.sentences 5 %>
    </p>
  </div>
  <hr>
  <br>
 
  
  <br>

  

  <div class="container container_wrapper">
  
   <button>DONATE</button>

  </div>

</div><!--  end of cointainer -->
